# Backend API URL (e.g. Render backend URL)
VITE_API_URL="https://smart-resto-dsf6.onrender.com/api"

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID="48148024154-7plmlpko2q8poujo6gn80ah4s0sdpsjg.apps.googleusercontent.com"
